* {
   align-items: center;
}
img {
    max-width: 100%;
    display: block;
    align-self: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;    
  text-align: center; 
}